body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #232323;
}

.noSel{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.border {
  border: 1px solid red;
}
.changelog {
  background-color: #232323;
  height: 100vh;
  display: block;

}

.post {
  margin: 0 20vw 0 20vw
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding-top: 5vh;
  color: white;
}

.subtitle {
  letter-spacing: 0.1em;
  font-weight: 300;
  color: white;
}

.v {
  letter-spacing: 0.1em;
  font-weight: 300;
  color: white;
}

.cText {
  color: white;
  font-weight: 300;
}

.center {
  text-align: center;
}
.cookie-consent {
  position:relative;
  z-index:350;
  top:0;
  height:0;
  width:100%;
  font-size:14px;
  line-height:1.5;
  display:none;
  -ms-flex-flow:column nowrap;
  flex-flow:column nowrap;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:center;
  justify-content:center;
  overflow-y:hidden;
  background-color:#2f343d;
  transition-property:all;
  transition-duration:.7s;
  transition-timing-function:linear;
}

.cookie-consent__close {
  position:absolute;
  top:0;
  right:0;
  width:14px;
  height:14px;
  cursor:pointer;
  padding-right:15px;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.cookie-consent__text {
  color:#fafafa;
}

.cookie-consent__link {
  cursor:pointer;
  color:#fafafa;
}

.cookie-consent__link:hover, .cookie-consent__close:hover {
  color: #a3a3a3;
}
